<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    <p>{{ username }}</p>
    <p>{{ fullname}}</p>
  </header>
  <div class="row">
    <div class="col-md-6">
      <button href type="button" class="btn btn-primary" routerLink="/update">Change Full Name</button>
    </div>
    <div class="col-md-6">
      <button href type="button" class="btn btn-primary" (click)="deactivateUser()">Deactivate</button>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success" *ngIf="isDeactivatedSuccess">
      Your account has been successfully deactivated.
    </div>
  </div>
</div>